{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Zaloguj się {% endblock %}
    {% block strona %}

    <div class="card" style="width: 24rem;">
    <div class="card-body">
    <h5 class="card-title">Zaloguj się</h5>
        <i class="fa-solid fa-hurricane"></i>
        <form method="post">
        {%csrf_token%}
        {{form|bootstrap}}
        <button type="submit" class="btn btn-primary" style="width: 7rem;">Zaloguj<i class="fa-sharp fa-solid fa-ruble-sign"></i></button>
        </form>
    </div>
</div>
    {% endblock %}